.logo img {
  height: 150px;
  width: 100%;
}

.logo {
  float: left;
  width:16.6%;
}
.submenu {
  height: 100px;
  width: 16.6%;
  float: left;
  right: 100px;
  color: white;
  font-size: 30px;
  font-family: Arial;
}
.submenu:hover {
  color: #CF2929;
}

.menu {
  height: 100px;
}
html {
  height:100%
}
 body {
   min-height:100%;
   postion:relative
}
.footer {
  position:absolute;
  color: #8a8b8c;
  font-size: 9px;
 border-top:3px double #8a8b8c;
 bottom:0 ;
 width:100%;
 text-align: center;
 background-color: #151616;
 font-family:Arial;
}
