.nav {
color: #8a8b8c;
font-family: Arial;
text-align: right;
margin-top: 20px;
background-color: black;
}

.logo img {
  height:inherit;
}

.row {
  font-size: 20px;
  font-family: Georgia;
  color: #c1c5cc;
  text-align: center;
  background-color: black;
}

.menu {
  margin-top: 60px;
}

ul {
 list-style-type: none;
 text-align: center;
 font-size: 17px;
 padding: 7px 3px 3px 7px;
 }

html {
  height: 100%
}

body {
   min-height: 100%;
   postion: relative;
 }

.menu div:hover {
  color: #ad031c;
}
.menu a  {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: #ad031c;
  text-decoration: none;
}







.footer {
  font-size: 12px;
  font-family: Arial;
  bottom: 0;
  position: absolute;
  margin-bottom: 15px;
  color: #606163;
  text-align: right;
}
